<div class="screen">
	<h1>Abonnements groupés pour le Théâtre de Namur</h1>
	<small>THÉÂTRE - DANCE - CONCERTS</small>

	<br><br>

	<div class="block-reverse">
		<div class="content">
			<p class="lead">
				Veuillez indiquer vos coordonnées
			</p>
			
			<form role="form" style="col-md-6">
				<div class="form-group">
					<label for="nom">Nom</label>
					<input type="email" class="form-control" id="nom" placeholder="Entrez votre nom">
				</div>
				<div class="form-group">
					<label for="prenom">Prénom</label>
					<input type="email" class="form-control" id="prenom" placeholder="Entrez votre prénom">
				</div>
				<hr>
				<div class="form-group">
					<label for="email">Adresse Email</label>
					<input type="email" class="form-control" id="email" placeholder="Entrez votre adresse email">
				</div>
				<div class="form-group">
					<label for="mot-de-passe">Mot de Passe</label>
					<input type="password" class="form-control" id="mot-de-passe" placeholder="Choisissez un mot de passe">
				</div>
				<!-- <div class="checkbox">
					<label>
						<input type="checkbox"> J'accepte les conditions.
					</label>
				</div> -->
				<!-- <button type="submit" class="btn btn-default">Submit</button> -->
			</form>
		</div>
	</div>

	<br><br><br><br>

	<div class="block">
		<div class="content">
			<p class="lead">
				Sélectionnez les spectacles et/ou activités de votre abonnement
			</p>
		</div>
	</div>
</div>